* {
  box-sizing: border-box;
}

:root {
  --primary-color: #0f1b4c;
  --guides-color: #000339;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Fz Poppins", sans-serif;
}

/* Common */
.btn {
  display: inline-block;
  padding: 18px 16px;
  min-width: 98px;
  background-color: var(--primary-color);
  border-radius: 12px;
  font-weight: 500;
  font-size: 1.4rem;
  text-align: center;
  color: #ffffff;
}

.btn:hover {
  opacity: 0.9;
}

a {
  text-decoration: none;
}

.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ========== Header =========== */
.fixed-header {
  padding-top: 26px;
  background-color: #e6f0ff;
  position: sticky;
  top: -26px;
  z-index: 1;
}

.hero-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #e6f0ff;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.navbar ul {
  display: flex;
  margin-left: 50px;
}

.navbar .action {
  margin-left: auto;
}

.navbar ul a {
  padding: 8px 14px;
  font-weight: 500;
  font-size: 1.4rem;
  color: #4f5361;
}

.navbar ul a:hover {
  text-decoration: underline;
}

.navbar .sign-in-link {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--primary-color);
}

.navbar .sign-up-btn {
  padding: 13px 16px;
  margin-left: 18px;
  border-radius: 8px;
}

.hero {
  margin-top: 130px;
}

.hero .info {
  width: 51%;
}

.hero .sub-title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #687690;
}

.hero .title {
  margin-top: 8px;
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 1.19;
  color: #000336;
}

.hero .desc {
  margin-top: 30px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.78;
  color: #5a6473;
}

.hero-cta {
  margin-top: 40px;
  min-width: 170px;
}
.hero img {
  position: absolute;
  right: calc((100vw - 1110px) / 2 - 100px);
  bottom: 0;
}

/* ============ Clients =========== */
.client {
  margin-top: 79px;
  padding: 43px 0 64px;
}

.client .row {
  display: flex;
  justify-content: space-between;
}

.client .description {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #7d8589;
}

.client .row-desc {
  margin-top: 23px;
}

.client .image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.client .image a {
  display: flex;
  align-items: center;
  padding: 0 41px;
  height: 90px;
  border-radius: 12px;
}

.client .image a:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* ========= Guides ========== */
.guides {
  margin-top: 40px;
  padding: 93px 0 79px;
}

.guides .sub-title {
  position: relative;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1;
  text-align: center;
  color: var(--guides-color);
}

.guides .sub-title::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 41px;
  height: 4px;
  background-color: var(--guides-color);
  top: -10px;
  left: 50%;
  transform: translate(-50%);
}

.guides .desc {
  margin: 20px auto 0;
  width: 459px;
  max-width: 100%; /* Tránh trình duyệt co lại hiện thanh cuộn -> dùng max-width */
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  text-align: center;
  color: #5a6473;
}

.list-guides {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.guide-item {
  margin: 0 70px;
  text-align: center;
}

.guide-item .title {
  margin-top: 26px;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.1;
  color: #383c45;
}

.guide-item .link {
  display: inline-block;
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.4rem;
  color: #0689ff;
}

.guide-item .arrow {
  margin-left: 6px;
}

.guide-cta {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.guide-cta .btn {
  min-width: 170px;
}

/* ============ Featured ============= */
.featured {
  margin-top: 41px;
  padding: 110px 0;
  background-color: #f5fafe;
}

.featured .sub-title {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1;
  color: var(--guides-color);
}

.featured .row {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.featured .desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #5a6473;
}

.featured .link {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.8rem;
  color: #0689ff;
}

.featured .link .arrow {
  display: inline-block;
  margin-left: 8px;
}

.featured .list {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}

.featured .item {
  flex: 1;
  background-color: #fff;
  border-radius: 12px;
}

.featured .item .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured .item .body {
  padding: 17px 20px 24px;
}

.featured .item .title a {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
  color: #000339;
}

.featured .item .desc {
  --line-clamp: 3;

  margin-top: 11px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #a3a6ab;
  word-break: break-all;
}

.featured .item .info {
  display: flex;
  align-items: center;
  margin-top: 22px;
}

.featured .item .label {
  margin-left: 8px;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.14px;
  color: #4d4d52;
}

.featured .item .icon {
  margin-left: 23px;
}

.featured .item .icon:first-child {
  margin-left: 0;
}

/* ========= Stats ========== */
.stats {
  margin-top: 75px;
  padding: 50px 0 53px;
}

.stats .content {
  width: 1048px;
}

.stats .row-1 {
  display: flex;
}

.stats .img-block,
.stats .info {
  width: 50%;
}

.stats .img-block {
  position: relative;
}

.stats .img-block .image {
  display: block;
  margin-left: auto;
  width: 400px;
  height: 460px;
  object-fit: cover;
  border-radius: 12px;
}

.stats .info {
  padding: 79px 0 0 165px;
}

.stats .sub-title {
  position: relative;
  width: 269px;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.29;
  color: #000339;
}

.stats .sub-title::before {
  position: absolute;
  content: "";
  display: block;
  width: 41px;
  height: 4px;
  background-color: var(--guides-color);
  border-radius: 12px;
  top: -10px;
}
.stats .info .desc {
  margin-top: 20px;
  width: 309px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88;
  color: #5a6473;
}

/* =========== Trend =========== */
.stats .stats-trend {
  position: absolute;
  padding: 45px 22px 40px;
  width: 239px;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 0 0 12px 12px;
}

.stats-trend .value {
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 0.26px;
  color: #000339;
}

.stats-trend .icon {
  margin-left: auto;
}

.stats-trend .desc {
  margin-top: 8px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #a7a7a7;
}

.stats-trend .separate {
  margin-top: 26px;
  height: 1.2px;
  background-color: #e9e9e9;
}

.stats-trend .avatar-block {
  display: flex;
  flex-wrap: wrap;
  margin-top: 26px;
  gap: 14px 16px;
}

.stats-trend .avatar-group {
  display: flex;
}

.stats-trend .img-avatar {
  margin-left: -3px;
  width: 16px;
  height: 16px;
  object-fit: cover;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: 450;
  text-align: center;
  line-height: 16px;
  letter-spacing: -0.145px;
  background-color: var(--bg-color, #fff);
  color: #fff;
}

.stats-trend .img-avatar:first-child {
  margin-left: 0;
}

/* ======== Quantity ========= */
.stats .row-2 {
  display: flex;
  margin-top: 110px;
  padding: 0 32px;
  justify-content: space-between;
}

.quantity .num {
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1;
  color: #000;
}

.quantity .qty-desc {
  margin-top: 22px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: normal;
  color: #7b8087;
}

/* ========== Subcription ========= */
.subscription {
  padding: 51px 0 55px;
}

.subscription .body {
  position: relative;
  display: flex;
  margin-top: 39px;
  height: 370px;
  align-items: center;
  border-radius: 20px;
  background-color: #063183;
}

.subscription .sub-info {
  padding: 0 80px;
  max-width: 100%;
  width: 671px;
}

.sub-info .sub-title {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
}

.sub-info .sub-desc {
  margin-top: 15px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88;
  color: #fff;
  opacity: 0.75;
}

.sub-info .btn-sub {
  margin-top: 20px;
  min-width: 151px;
  background-color: #fff;
  color: #002366;
  font-size: 1.3rem;
}

.subscription .image-sub {
  position: absolute;
  bottom: 0;
  right: 221px;
}

/* =========== Footer =========== */
.footer {
  margin: 55px 0 58px;
}
.footer .row {
  display: flex;
}

.footer .row-top {
  gap: 185px;
}

.footer .heading-ft {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #1c1c1d;
}

.footer .list-ft {
  margin-top: 42px;
}

.footer .list-item {
  margin-top: 21px;
}

.list-ft a {
  font-size: 1.6rem;
  font-weight: 400;
  color: #7a7a7e;
  white-space: nowrap;
}

.footer .desc-ft {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  color: #7a7a7e;
}

.footer .desc-ft {
  margin-top: 40px;
  width: 257px;
  min-width: 100%;
}

.footer .social {
  display: flex;
  margin-top: 40px;
}

.footer .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  background-color: #f9f9f9;
  border-radius: 3px;
}

.footer .social-link + .social-link {
  margin-left: 16px;
}

.footer .social-link:hover {
  background-color: #e1e1e1;
}

.footer .row-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 81px;
}

.footer .copyright {
  font-size: 1.4rem;
  font-weight: 400;
  color: #c2c2c2;
}
